USE frm_otobus
GO
/****** Object:  Table [dbo].[adres]    Script Date: 1.1.2015 21:37:13 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[adres](
--	[adresID] [int] IDENTITY(1,1) NOT NULL,
--	[sehirID] [int] NULL,
--	[ilceID] [int] NULL,
--	[mahalleID] [int] NULL,
-- CONSTRAINT [PK_adres] PRIMARY KEY CLUSTERED 
--(
--	[adresID] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ilce]    Script Date: 1.1.2015 21:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilce](
	[ilceID] [int] IDENTITY(1,1) NOT NULL,
	[sehirID] [int] NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__ilceler__43CE0F5602084FDA] PRIMARY KEY CLUSTERED 
(
	[ilceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mahalle]    Script Date: 1.1.2015 21:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mahalle](
	[mahalleID] [int] IDENTITY(1,1) NOT NULL,
	[ilceID] [int] NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__mahalle__9E92EC5105D8E0BE] PRIMARY KEY CLUSTERED 
(
	[mahalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sehir]    Script Date: 1.1.2015 21:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sehir](
	[sehirID] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [nvarchar](255) NULL,
	[ad] [nvarchar](255) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK__sehir__5D6A100009A971A2] PRIMARY KEY CLUSTERED 
(
	[sehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ilce] ON 

INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (1, 1, N'ALADAĞ')
INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (2, 1, N'CEYHAN')
INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (3, 1, N'FEKE')
GO
SET IDENTITY_INSERT [dbo].[ilce] OFF
SET IDENTITY_INSERT [dbo].[mahalle] ON 

INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (1, 1, N'BÜYÜK SOFULU')
INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (2, 1, N'DÜNYADİBİ')
INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (3, 2, N'AYTEMUROĞLU')
GO
SET IDENTITY_INSERT [dbo].[mahalle] OFF
SET IDENTITY_INSERT [dbo].[sehir] ON 

INSERT [dbo].[sehir] ([sehirID], [plaka], [ad], [durum]) VALUES (1, N'1', N'ADANA', NULL)
INSERT [dbo].[sehir] ([sehirID], [plaka], [ad], [durum]) VALUES (2, N'33', N'MERSİN', NULL)
INSERT [dbo].[sehir] ([sehirID], [plaka], [ad], [durum]) VALUES (3, N'80', N'OSMANİYE', NULL)
SET IDENTITY_INSERT [dbo].[sehir] OFF
ALTER TABLE [dbo].[sehir] ADD  CONSTRAINT [DF_sehir_durum]  DEFAULT ((0)) FOR [durum]
GO
ALTER TABLE [dbo].[ilce]  WITH CHECK ADD  CONSTRAINT [FK_ilce_sehir] FOREIGN KEY([sehirID])
REFERENCES [dbo].[sehir] ([sehirID])
GO
ALTER TABLE [dbo].[ilce] CHECK CONSTRAINT [FK_ilce_sehir]
GO
ALTER TABLE [dbo].[mahalle]  WITH CHECK ADD  CONSTRAINT [FK_mahalle_ilce] FOREIGN KEY([ilceID])
REFERENCES [dbo].[ilce] ([ilceID])
GO
ALTER TABLE [dbo].[mahalle] CHECK CONSTRAINT [FK_mahalle_ilce]
GO
