USE [master]
GO
/****** Object:  Database [B141210303_B140910018]    Script Date: 10.12.2016 21:27:21 ******/
CREATE DATABASE ProjeB141210303ibrahimEkinci1A
 
GO

USE ProjeB141210303ibrahimEkinci1A
GO
/****** Object:  Table [dbo].[adres]    Script Date: 10.12.2016 21:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adres](
	[adresID] [int] IDENTITY(1,1) NOT NULL,
	[sehirID] [int] NULL,
	[ilceID] [int] NULL,
	[mahalleID] [int] NULL,
	[aciklama] [varchar](50) NULL,
 CONSTRAINT [PK_adres] PRIMARY KEY CLUSTERED 
(
	[adresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calisan]    Script Date: 10.12.2016 21:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisan](
	[calisanID] [int] IDENTITY(0,1) NOT NULL,
	[calisanPozisyonID] [int] NOT NULL,
	[subeID] [int] NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[cinsiyet] [nvarchar](50) NULL,
	[dogumTarihi] [datetime] NOT NULL,
	[ehliyetSinifi] [nvarchar](5) NULL,
	[ehliyetAlisTarihi] [datetime] NULL,
	[telefon] [nvarchar](20) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[adresID] [int] NOT NULL,
	[girisTarihi] [datetime] NOT NULL,
	[cikisTarihi] [datetime] NULL,
	[maas] [money] NOT NULL,
	[durum] [bit] NOT NULL,
	[calisanTCKNO] [nvarchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calisanKullanici]    Script Date: 10.12.2016 21:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanKullanici](
	[calisanID] [int] NOT NULL,
	[kadi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[durum] [bit] NOT NULL,
 CONSTRAINT [PK__calisanK__037AC3F7F55500F4] PRIMARY KEY CLUSTERED 
(
	[calisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calisanPozisyon]    Script Date: 10.12.2016 21:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanPozisyon](
	[calisanPozisyonID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calisanPozisyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guzergah]    Script Date: 10.12.2016 21:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guzergah](
	[guzergahID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NULL,
	[durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[guzergahID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guzergahDurak]    Script Date: 10.12.2016 21:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guzergahDurak](
	[guzergahDurakID] [int] IDENTITY(0,1) NOT NULL,
	[guzergahID] [int] NOT NULL,
	[subeID] [int] NOT NULL,
	[sira] [int] NOT NULL,
	[kilometre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guzergahDurakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guzergahMola]    Script Date: 10.12.2016 21:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guzergahMola](
	[guzergahMolaID] [int] IDENTITY(0,1) NOT NULL,
	[molaTesisID] [int] NOT NULL,
	[guzergahID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guzergahMolaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ilce]    Script Date: 10.12.2016 21:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilce](
	[ilceID] [int] IDENTITY(1,1) NOT NULL,
	[sehirID] [int] NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__ilceler__43CE0F5602084FDA] PRIMARY KEY CLUSTERED 
(
	[ilceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mahalle]    Script Date: 10.12.2016 21:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mahalle](
	[mahalleID] [int] IDENTITY(1,1) NOT NULL,
	[ilceID] [int] NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__mahalle__9E92EC5105D8E0BE] PRIMARY KEY CLUSTERED 
(
	[mahalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[molaTesis]    Script Date: 10.12.2016 21:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[molaTesis](
	[molaTesisID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[adresID] [int] NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[molaTesisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otobus]    Script Date: 10.12.2016 21:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otobus](
	[otobusID] [int] IDENTITY(0,1) NOT NULL,
	[saseNumarasi] [nvarchar](30) NULL,
	[plaka] [nvarchar](30) NULL,
	[otobusModelID] [int] NOT NULL,
	[uretimYili] [datetime] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otobusMarka]    Script Date: 10.12.2016 21:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otobusMarka](
	[otobusMarkaID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusMarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otobusModel]    Script Date: 10.12.2016 21:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otobusModel](
	[otobusModelID] [int] IDENTITY(0,1) NOT NULL,
	[otobusMarkaID] [int] NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[koltukSayisi] [int] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sefer]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sefer](
	[seferID] [int] IDENTITY(0,1) NOT NULL,
	[otobusID] [int] NULL,
	[kalkisTarihi] [datetime] NOT NULL,
	[guzergahID] [int] NOT NULL,
	[durum] [bit] NULL,
	[yon] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[seferCalisan]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seferCalisan](
	[seferCalisanID] [int] IDENTITY(0,1) NOT NULL,
	[seferID] [int] NOT NULL,
	[calisanID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seferCalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sehir]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sehir](
	[sehirID] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [nvarchar](255) NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__sehir__5D6A100009A971A2] PRIMARY KEY CLUSTERED 
(
	[sehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sube]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sube](
	[subeID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[adresID] [int] NOT NULL,
	[acilisTarihi] [datetime] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[adres] ON 

INSERT [dbo].[adres] ([adresID], [sehirID], [ilceID], [mahalleID], [aciklama]) VALUES (1, 1, 1, 1, NULL)
INSERT [dbo].[adres] ([adresID], [sehirID], [ilceID], [mahalleID], [aciklama]) VALUES (2, 1, 2, 2, NULL)
INSERT [dbo].[adres] ([adresID], [sehirID], [ilceID], [mahalleID], [aciklama]) VALUES (3, 28, 235, 2456, NULL)
SET IDENTITY_INSERT [dbo].[adres] OFF
SET IDENTITY_INSERT [dbo].[calisan] ON 

INSERT [dbo].[calisan] ([calisanID], [calisanPozisyonID], [subeID], [ad], [soyad], [cinsiyet], [dogumTarihi], [ehliyetSinifi], [ehliyetAlisTarihi], [telefon], [mail], [adresID], [girisTarihi], [cikisTarihi], [maas], [durum], [calisanTCKNO]) VALUES (7, 0, 1, N'Laary', N'Page', N'Bay', CAST(N'1990-09-09T00:00:00.000' AS DateTime), N'E', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'053 4623544', N'page@hotmail.com', 4, CAST(N'2015-01-02T00:54:35.437' AS DateTime), CAST(N'2015-01-15T00:00:00.000' AS DateTime), 12000.0000, 0, N'00000000000')
INSERT [dbo].[calisan] ([calisanID], [calisanPozisyonID], [subeID], [ad], [soyad], [cinsiyet], [dogumTarihi], [ehliyetSinifi], [ehliyetAlisTarihi], [telefon], [mail], [adresID], [girisTarihi], [cikisTarihi], [maas], [durum], [calisanTCKNO]) VALUES (8, 3, 1, N'ali', N'sad', N'Bay', CAST(N'1990-09-09T00:00:00.000' AS DateTime), N'E', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'05355555555', N'page@hotmail.com', 5, CAST(N'2015-01-02T00:55:48.010' AS DateTime), CAST(N'2015-01-15T00:00:00.000' AS DateTime), 1200.0000, 0, N'00000000000')
INSERT [dbo].[calisan] ([calisanID], [calisanPozisyonID], [subeID], [ad], [soyad], [cinsiyet], [dogumTarihi], [ehliyetSinifi], [ehliyetAlisTarihi], [telefon], [mail], [adresID], [girisTarihi], [cikisTarihi], [maas], [durum], [calisanTCKNO]) VALUES (9, 4, 1, N'ayşe', N'Page', N'Bayan', CAST(N'1990-09-09T00:00:00.000' AS DateTime), N'E', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'05355555555', N'page@hotmail.com', 6, CAST(N'2015-01-02T00:55:49.367' AS DateTime), NULL, 1200.0000, 1, N'00000000000')
SET IDENTITY_INSERT [dbo].[calisan] OFF
INSERT [dbo].[calisanKullanici] ([calisanID], [kadi], [sifre], [durum]) VALUES (7, N'laary', N'12345', 1)
INSERT [dbo].[calisanKullanici] ([calisanID], [kadi], [sifre], [durum]) VALUES (8, N'ayşe', N'12345', 1)
INSERT [dbo].[calisanKullanici] ([calisanID], [kadi], [sifre], [durum]) VALUES (16, N'Sarılar3', N'12345', 1)
SET IDENTITY_INSERT [dbo].[calisanPozisyon] ON 

INSERT [dbo].[calisanPozisyon] ([calisanPozisyonID], [ad]) VALUES (0, N'Patron')
INSERT [dbo].[calisanPozisyon] ([calisanPozisyonID], [ad]) VALUES (1, N'Genel Müdür')
INSERT [dbo].[calisanPozisyon] ([calisanPozisyonID], [ad]) VALUES (2, N'Müdür')
SET IDENTITY_INSERT [dbo].[calisanPozisyon] OFF
SET IDENTITY_INSERT [dbo].[guzergah] ON 

INSERT [dbo].[guzergah] ([guzergahID], [ad], [aciklama], [EklenmeTarihi], [durum]) VALUES (0, N'', N'', CAST(N'2015-01-02T01:33:45.400' AS DateTime), 0)
INSERT [dbo].[guzergah] ([guzergahID], [ad], [aciklama], [EklenmeTarihi], [durum]) VALUES (1, N'update deneme', N'update açıklama', CAST(N'2015-01-02T01:34:02.840' AS DateTime), 1)
INSERT [dbo].[guzergah] ([guzergahID], [ad], [aciklama], [EklenmeTarihi], [durum]) VALUES (2, N'', N'', CAST(N'2015-01-04T08:43:34.930' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[guzergah] OFF
SET IDENTITY_INSERT [dbo].[guzergahDurak] ON 

INSERT [dbo].[guzergahDurak] ([guzergahDurakID], [guzergahID], [subeID], [sira], [kilometre]) VALUES (13, 2, 4, 0, 0)
INSERT [dbo].[guzergahDurak] ([guzergahDurakID], [guzergahID], [subeID], [sira], [kilometre]) VALUES (14, 2, 5, 1, 100)
INSERT [dbo].[guzergahDurak] ([guzergahDurakID], [guzergahID], [subeID], [sira], [kilometre]) VALUES (15, 2, 6, 2, 200)
SET IDENTITY_INSERT [dbo].[guzergahDurak] OFF
SET IDENTITY_INSERT [dbo].[guzergahMola] ON 

INSERT [dbo].[guzergahMola] ([guzergahMolaID], [molaTesisID], [guzergahID]) VALUES (4, 4, 2)
INSERT [dbo].[guzergahMola] ([guzergahMolaID], [molaTesisID], [guzergahID]) VALUES (5, 6, 1)
INSERT [dbo].[guzergahMola] ([guzergahMolaID], [molaTesisID], [guzergahID]) VALUES (6, 5, 4)
SET IDENTITY_INSERT [dbo].[guzergahMola] OFF
SET IDENTITY_INSERT [dbo].[ilce] ON 

INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (1, 1, N'ALADAĞ')
INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (2, 1, N'CEYHAN')
INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (3, 1, N'FEKE')
GO
SET IDENTITY_INSERT [dbo].[ilce] OFF
SET IDENTITY_INSERT [dbo].[mahalle] ON 

INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (1, 1, N'BÜYÜK SOFULU')
INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (2, 1, N'DÜNYADİBİ')
INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (3, 2, N'AYTEMUROĞLU')
GO
SET IDENTITY_INSERT [dbo].[mahalle] OFF
SET IDENTITY_INSERT [dbo].[molaTesis] ON 

INSERT [dbo].[molaTesis] ([molaTesisID], [ad], [adresID], [aciklama], [EklenmeTarihi], [durum]) VALUES (1, N'Ali dinlenme tesisleri', 9, NULL, CAST(N'2015-01-02T01:12:46.457' AS DateTime), 1)
INSERT [dbo].[molaTesis] ([molaTesisID], [ad], [adresID], [aciklama], [EklenmeTarihi], [durum]) VALUES (3, N'Mehmet dinlenme tesisleri', 10, NULL, CAST(N'2015-01-02T01:13:07.727' AS DateTime), 1)
INSERT [dbo].[molaTesis] ([molaTesisID], [ad], [adresID], [aciklama], [EklenmeTarihi], [durum]) VALUES (4, N'Ayşe Dinlenme tesisi', 11, NULL, CAST(N'2015-01-02T01:13:36.530' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[molaTesis] OFF
SET IDENTITY_INSERT [dbo].[otobus] ON 

INSERT [dbo].[otobus] ([otobusID], [saseNumarasi], [plaka], [otobusModelID], [uretimYili], [durum]) VALUES (8, N'1FAFP55U62G193432', N'34ag034', 0, CAST(N'2014-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[otobus] ([otobusID], [saseNumarasi], [plaka], [otobusModelID], [uretimYili], [durum]) VALUES (9, N'1FAFP55U62G193432', N'34ag035', 1, CAST(N'2014-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[otobus] ([otobusID], [saseNumarasi], [plaka], [otobusModelID], [uretimYili], [durum]) VALUES (10, N'1FAFP55U62G193432', N'34ag036', 0, CAST(N'2014-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[otobus] OFF
SET IDENTITY_INSERT [dbo].[otobusMarka] ON 

INSERT [dbo].[otobusMarka] ([otobusMarkaID], [ad], [aciklama], [durum]) VALUES (0, N'Mercedes-Benz', NULL, 1)
INSERT [dbo].[otobusMarka] ([otobusMarkaID], [ad], [aciklama], [durum]) VALUES (1, N'
Setra', NULL, 1)
SET IDENTITY_INSERT [dbo].[otobusMarka] OFF
SET IDENTITY_INSERT [dbo].[otobusModel] ON 

INSERT [dbo].[otobusModel] ([otobusModelID], [otobusMarkaID], [ad], [koltukSayisi], [durum]) VALUES (0, 0, N'
Tourismo 15 RHD', 46, 1)
INSERT [dbo].[otobusModel] ([otobusModelID], [otobusMarkaID], [ad], [koltukSayisi], [durum]) VALUES (1, 1, N'
S 417 HDH', 54, 1)
SET IDENTITY_INSERT [dbo].[otobusModel] OFF
SET IDENTITY_INSERT [dbo].[sefer] ON 

INSERT [dbo].[sefer] ([seferID], [otobusID], [kalkisTarihi], [guzergahID], [durum], [yon]) VALUES (3, 8, CAST(N'2015-01-25T00:00:00.000' AS DateTime), 11, 1, 1)
INSERT [dbo].[sefer] ([seferID], [otobusID], [kalkisTarihi], [guzergahID], [durum], [yon]) VALUES (7, 8, CAST(N'2015-01-25T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[sefer] ([seferID], [otobusID], [kalkisTarihi], [guzergahID], [durum], [yon]) VALUES (8, 8, CAST(N'2015-01-26T00:00:00.000' AS DateTime), 11, 0, 0)
SET IDENTITY_INSERT [dbo].[sefer] OFF
SET IDENTITY_INSERT [dbo].[seferCalisan] ON 

INSERT [dbo].[seferCalisan] ([seferCalisanID], [seferID], [calisanID]) VALUES (3, 3, 10)
INSERT [dbo].[seferCalisan] ([seferCalisanID], [seferID], [calisanID]) VALUES (4, 3, 15)
INSERT [dbo].[seferCalisan] ([seferCalisanID], [seferID], [calisanID]) VALUES (5, 7, 10)
SET IDENTITY_INSERT [dbo].[seferCalisan] OFF
SET IDENTITY_INSERT [dbo].[sehir] ON 

INSERT [dbo].[sehir] ([sehirID], [plaka], [ad]) VALUES (1, N'1', N'ADANA')
INSERT [dbo].[sehir] ([sehirID], [plaka], [ad]) VALUES (2, N'33', N'MERSİN')
INSERT [dbo].[sehir] ([sehirID], [plaka], [ad]) VALUES (3, N'80', N'OSMANİYE')
SET IDENTITY_INSERT [dbo].[sehir] OFF
SET IDENTITY_INSERT [dbo].[sube] ON 

INSERT [dbo].[sube] ([subeID], [ad], [adresID], [acilisTarihi], [durum]) VALUES (0, N'Merkez Şube', 1, CAST(N'2015-01-02T00:33:41.693' AS DateTime), 1)
INSERT [dbo].[sube] ([subeID], [ad], [adresID], [acilisTarihi], [durum]) VALUES (1, N'Ceyhan Şube', 2, CAST(N'2015-01-02T00:34:48.813' AS DateTime), 1)
INSERT [dbo].[sube] ([subeID], [ad], [adresID], [acilisTarihi], [durum]) VALUES (4, N'Merkez şube', 3, CAST(N'2015-01-02T00:39:25.610' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[sube] OFF
ALTER TABLE [dbo].[adres] ADD  CONSTRAINT [DF_adres_sehirID]  DEFAULT ((0)) FOR [sehirID]
GO
ALTER TABLE [dbo].[adres] ADD  CONSTRAINT [DF_adres_ilceID]  DEFAULT ((0)) FOR [ilceID]
GO
ALTER TABLE [dbo].[adres] ADD  CONSTRAINT [DF_adres_mahalleID]  DEFAULT ((0)) FOR [mahalleID]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ('bay') FOR [cinsiyet]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ((0)) FOR [ehliyetAlisTarihi]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT (getdate()) FOR [girisTarihi]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ((1200)) FOR [maas]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ('00000000000') FOR [calisanTCKNO]
GO
ALTER TABLE [dbo].[calisanKullanici] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[guzergah] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[guzergah] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[molaTesis] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[molaTesis] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[otobus] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[otobusMarka] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[otobusModel] ADD  DEFAULT ((60)) FOR [koltukSayisi]
GO
ALTER TABLE [dbo].[otobusModel] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[sefer] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[sefer] ADD  DEFAULT ((0)) FOR [yon]
GO
ALTER TABLE [dbo].[sube] ADD  DEFAULT (getdate()) FOR [acilisTarihi]
GO
ALTER TABLE [dbo].[sube] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[calisan]  WITH CHECK ADD  CONSTRAINT [FK_calisan_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[calisan] CHECK CONSTRAINT [FK_calisan_adres]
GO
ALTER TABLE [dbo].[calisan]  WITH CHECK ADD  CONSTRAINT [FK_calisan_calisanPozisyon] FOREIGN KEY([calisanPozisyonID])
REFERENCES [dbo].[calisanPozisyon] ([calisanPozisyonID])
GO
ALTER TABLE [dbo].[calisan] CHECK CONSTRAINT [FK_calisan_calisanPozisyon]
GO
ALTER TABLE [dbo].[calisan]  WITH CHECK ADD  CONSTRAINT [FK_calisan_sube] FOREIGN KEY([subeID])
REFERENCES [dbo].[sube] ([subeID])
GO
ALTER TABLE [dbo].[calisan] CHECK CONSTRAINT [FK_calisan_sube]
GO
ALTER TABLE [dbo].[calisanKullanici]  WITH CHECK ADD  CONSTRAINT [FK_calisanKullanici_calisan1] FOREIGN KEY([calisanID])
REFERENCES [dbo].[calisan] ([calisanID])
GO
ALTER TABLE [dbo].[calisanKullanici] CHECK CONSTRAINT [FK_calisanKullanici_calisan1]
GO
ALTER TABLE [dbo].[guzergahDurak]  WITH CHECK ADD  CONSTRAINT [FK_guzergahDurak_guzergah] FOREIGN KEY([guzergahID])
REFERENCES [dbo].[guzergah] ([guzergahID])
GO
ALTER TABLE [dbo].[guzergahDurak] CHECK CONSTRAINT [FK_guzergahDurak_guzergah]
GO
ALTER TABLE [dbo].[guzergahMola]  WITH CHECK ADD  CONSTRAINT [FK_guzergahMola_guzergah] FOREIGN KEY([guzergahID])
REFERENCES [dbo].[guzergah] ([guzergahID])
GO
ALTER TABLE [dbo].[guzergahMola] CHECK CONSTRAINT [FK_guzergahMola_guzergah]
GO
ALTER TABLE [dbo].[guzergahMola]  WITH CHECK ADD  CONSTRAINT [FK_guzergahMola_molaTesis] FOREIGN KEY([molaTesisID])
REFERENCES [dbo].[molaTesis] ([molaTesisID])
GO
ALTER TABLE [dbo].[guzergahMola] CHECK CONSTRAINT [FK_guzergahMola_molaTesis]
GO
ALTER TABLE [dbo].[ilce]  WITH CHECK ADD  CONSTRAINT [FK_ilce_sehir1] FOREIGN KEY([sehirID])
REFERENCES [dbo].[sehir] ([sehirID])
GO
ALTER TABLE [dbo].[ilce] CHECK CONSTRAINT [FK_ilce_sehir1]
GO
ALTER TABLE [dbo].[mahalle]  WITH CHECK ADD  CONSTRAINT [FK_mahalle_ilce1] FOREIGN KEY([ilceID])
REFERENCES [dbo].[ilce] ([ilceID])
GO
ALTER TABLE [dbo].[mahalle] CHECK CONSTRAINT [FK_mahalle_ilce1]
GO
ALTER TABLE [dbo].[molaTesis]  WITH CHECK ADD  CONSTRAINT [FK_molaTesis_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[molaTesis] CHECK CONSTRAINT [FK_molaTesis_adres]
GO
ALTER TABLE [dbo].[otobus]  WITH CHECK ADD  CONSTRAINT [FK_otobus_otobusModel] FOREIGN KEY([otobusModelID])
REFERENCES [dbo].[otobusModel] ([otobusModelID])
GO
ALTER TABLE [dbo].[otobus] CHECK CONSTRAINT [FK_otobus_otobusModel]
GO
ALTER TABLE [dbo].[otobusModel]  WITH CHECK ADD  CONSTRAINT [FK_otobusModel_otobusMarka] FOREIGN KEY([otobusMarkaID])
REFERENCES [dbo].[otobusMarka] ([otobusMarkaID])
GO
ALTER TABLE [dbo].[otobusModel] CHECK CONSTRAINT [FK_otobusModel_otobusMarka]
GO
ALTER TABLE [dbo].[sefer]  WITH CHECK ADD  CONSTRAINT [FK_sefer_guzergah] FOREIGN KEY([guzergahID])
REFERENCES [dbo].[guzergah] ([guzergahID])
GO
ALTER TABLE [dbo].[sefer] CHECK CONSTRAINT [FK_sefer_guzergah]
GO
ALTER TABLE [dbo].[sefer]  WITH CHECK ADD  CONSTRAINT [FK_sefer_otobus] FOREIGN KEY([otobusID])
REFERENCES [dbo].[otobus] ([otobusID])
GO
ALTER TABLE [dbo].[sefer] CHECK CONSTRAINT [FK_sefer_otobus]
GO
ALTER TABLE [dbo].[seferCalisan]  WITH CHECK ADD  CONSTRAINT [FK_seferCalisan_calisan] FOREIGN KEY([calisanID])
REFERENCES [dbo].[calisan] ([calisanID])
GO
ALTER TABLE [dbo].[seferCalisan] CHECK CONSTRAINT [FK_seferCalisan_calisan]
GO
ALTER TABLE [dbo].[seferCalisan]  WITH CHECK ADD  CONSTRAINT [FK_seferCalisan_sefer] FOREIGN KEY([seferID])
REFERENCES [dbo].[sefer] ([seferID])
GO
ALTER TABLE [dbo].[seferCalisan] CHECK CONSTRAINT [FK_seferCalisan_sefer]
GO
ALTER TABLE [dbo].[sube]  WITH CHECK ADD  CONSTRAINT [FK_sube_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[sube] CHECK CONSTRAINT [FK_sube_adres]
GO
/****** Object:  StoredProcedure [dbo].[sp_guzergahUpdate]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_guzergahUpdate](
@guzergahID int
,@guzergahAd nvarchar(40)
,@guzergahAciklama nvarchar(40)
)
as
delete from guzergahMola where guzergahId= @guzergahID
delete from guzergahDurak where guzergahID=@guzergahID
update guzergah set ad=@guzergahAd,aciklama=@guzergahAciklama where guzergahId= @guzergahID



GO
/****** Object:  StoredProcedure [dbo].[sp_seferDetaylariGetir]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_seferDetaylariGetir]
(
@guzergahID int
,@neredenSubeID int 
,@nereyeSubeID int
)
as
declare @neredenSira int,@nereyeSira int,@guzergahMolaSayisi int,@kilometre int
select @guzergahMolaSayisi=Count(*) from guzergahMola where guzergahID = @guzergahID
select @neredenSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@neredenSubeID
select @nereyeSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@nereyeSubeID
if(@neredenSira<@nereyeSira)
begin
select @kilometre = sum(kilometre) from guzergahDurak where guzergahID=@guzergahID and sira  between @neredenSira+1 and @nereyeSira-1
end
else
begin
select @kilometre = sum(kilometre) from guzergahDurak where guzergahID=@guzergahID and sira  between @nereyeSira+1 and @neredenSira -1
end
select @guzergahMolaSayisi,@kilometre,@neredenSira,@nereyeSira



GO
/****** Object:  StoredProcedure [dbo].[sp_seferFiltreleByYon]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_seferFiltreleByYon]
(
@guzergahID int
,@neredenSubeID int 
,@nereyeSubeID int
)
as
declare @yon bit

declare @neredenSira int,@nereyeSira int
select @neredenSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@neredenSubeID
select @nereyeSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@nereyeSubeID
if (@neredenSira>@nereyeSira)
begin
set @yon=0
end
else if(@neredenSira<@nereyeSira)
begin
set @yon=1
end
select @yon 'yon'



GO
/****** Object:  StoredProcedure [dbo].[sp_seferGetirByGuzergahAndTarih]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_seferGetirByGuzergahAndTarih](
 @neredenSubeID int
,@nereyeSubeID int
,@kalkisTarihi datetime
)
as
SELECT  sefer.yon,sefer.guzergahID,sefer.seferID,guzergah.ad,sefer.kalkisTarihi FROM sefer 
INNER JOIN guzergah on sefer.guzergahID = guzergah.guzergahID 
INNER JOIN guzergahDurak ON guzergah.guzergahID = guzergahDurak.guzergahID 
WHERE guzergahDurak.guzergahID  
IN(
select guzergahID  from guzergahDurak 
WHERE SubeID IN(@neredenSubeID,@nereyeSubeID)
group by guzergahID 
having  count(guzergahID)=2
)
AND Convert(varchar(20), kalkisTarihi, 102)=Convert(varchar(20), @kalkisTarihi, 102) and sefer.durum=1 
group by guzergah.ad,sefer.seferID,sefer.kalkisTarihi,sefer.guzergahID,sefer.yon



GO
/****** Object:  Trigger [dbo].[tg_calisanSil]    Script Date: 10.12.2016 21:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[tg_calisanSil] on [dbo].[calisan]
instead of delete 
as
declare @calisanID int;
select @calisanID=calisanID from deleted
update calisan set durum=0 where calisanID=@calisanID


GO
ALTER TABLE [dbo].[calisan] ENABLE TRIGGER [tg_calisanSil]
GO
/****** Object:  Trigger [dbo].[tg_GuzergahSil]    Script Date: 10.12.2016 21:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[tg_GuzergahSil] on [dbo].[guzergah]
instead of delete 
as
update guzergah set durum = 0 from guzergah g inner join deleted d on g.guzergahID =d.guzergahID


GO
ALTER TABLE [dbo].[guzergah] ENABLE TRIGGER [tg_GuzergahSil]
GO
/****** Object:  Trigger [dbo].[tg_seferEkle]    Script Date: 10.12.2016 21:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[tg_seferEkle] on [dbo].[sefer]
for insert 
as

declare @tarih datetime;
select @tarih=kalkisTarihi from inserted

if(@tarih<GETDATE())
begin
select @tarih
    RAISERROR ('Sefer tarihi şimdiki zamandan sonraki bir tarihte olmalıdır',16,1)
 rollback

end


GO
ALTER TABLE [dbo].[sefer] ENABLE TRIGGER [tg_seferEkle]
GO
USE [master]
GO
